:root{
    --bg-menu-color: #000000;
    --text-color: #ffffff;
    
}
.menu-bar {
    background-color: var(--bg-menu-color);
    color: var(--text-color);
    position: relative;
    width: 100%;
    height: 50px;
}

.menu-list {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {

}